# Test and coverage
*.out
*.test
*.prof

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.claude

# FE
wshub-website

# OS
.DS_Store
Thumbs.db

# Binaries
*.exe
*.dll
*.so
*.dylib

# Vendor
vendor/

# coverage
coverage.*